.section#header

  .title
    h1 ..coding
    span.sub Handcrafted individual websites

  .menu-wrapper
    ul.menu
      li: a(href='#', onclick='selectionActive("about");')#about ABOUT
      li: a(href='#', onclick='selectionActive("reference");')#reference REFERENCE
      li: a(href='#', onclick='selectionActive("contact");')#contact CONTACT
